
  .centrarTexto{
    text-align: center;
  }

  .centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
  }
  .estilizar{
    width: 20vh;
    margin: 0px;
    padding: 0px;
  }

  .display{
    width: 45vh;
    height: 10vh;
    border-radius: 1px solid red;
  }

