<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App con Nodejs y MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta voluptas recusandae consequatur dignissimos nam
    ullam laboriosam saepe ipsa rerum quidem ad, consequuntur harum aut hic perspiciatis, quae placeat eaque a?
    <a href="http://faztweb.com" class="btn btn-primary btn-lg">FaztWeb</a>
</div>