:root {
    --main-bg: hsl(215, 54%, 11%);
    --card-bg: hsl(215, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
}

body {
    background-color: var(--main-bg);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    margin: 0;
}

p {
    font-size: 18px;
    color: var(--soft-blue);
}


.container {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.card {
    background-color: var(--card-bg);
    margin: 1em .5em 2em .5em;
    border-radius: .65em;
    width: 15em;
    
}

.data-container {
    display: flex;
    justify-content: space-between;
    margin: 0 .75em 0 .75em;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-top: 1.3em;
}

img {
    width: 13em;
    height: 13em;
    border-radius: .65em;
}

.avatar {
    width: 2em;
    height: 2em;
}


.card-title {
    color: var(--white);
}

.price {
    color: var(--cyan)
}

hr {
    color: var(--line);
}

svg {
    margin: 1em 1 em 0 0;
}